<!DOCTYPE html>
<html>

  <head>
    {{> _head }}
  </head>

  <body>
    {{> _navbar }}

      {{{body}}}

    <!-- jquery -->
    <script src="/js/jquery-3.1.1.js" type="text/javascript"></script>
    <!-- typed animation -->
    <script src="/js/typed.js" type="text/javascript"></script>
    <!-- Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </body>

</html>
