<div class="col-md-6 col-md-offset-0">
  <h1>Bold title to convince you immediately that our service is awesome.</h1>
  <p>You should sign up right now to find that life changing connection that will empower you. Code Match is fucking amazing bro. Code Match is fucking amazing bro. Code Match is fucking amazing bro. Code Match is fucking amazing bro. Code Match is fucking amazing bro. </p>
</div>

<div class="col-md-6 col-md-offset-0">
  <h1>This is going to be signup form.</h1>
  <p>You should sign up right now to find that life changing connection that will empower you. Code Match is fucking amazing bro. Code Match is fucking amazing bro. Code Match is fucking amazing bro. Code Match is fucking amazing bro. Code Match is fucking amazing bro. </p>
</div>
