<video playsinline autoplay muted loop poster="polina.jpg" id="bgvid">
    <source src="/media/creative.mp4" type="video/mp4">
</video>

<div class="text">
  <h3 class="titletext">The place where code and people grow</h3>
  <p class="bodytext">Learn, teach, comment, collab or just be inspired by the amazing projects developed all over the world.</p>
</div>
