<video width="300" height="150">
  <source src="media/video.mp4" type="video/mp4" />
  Your browser doesn't support HTML5 video. Here's a <a target="_blank" href="#">link</a> to download the video.</video>
