@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700');

body {
  padding: 10px;
  font-family: 'Lato', sans-serif;
}

a {
  color: #00B7FF;
}

/*video*/
video#bgvid {
    position: fixed;
    top: 30%;
    left: 30%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}
/*navbar*/
.navbar-default {
     background-color:transparent!important;
     border-color:transparent!important;
     background-image:none!important;
     box-shadow:none!important;
}

.navbar-default .navbar-nav>li>a {
   font-size:15px;
   color:#fff;
}

.navbar-default .navbar-nav span{
  color: #00FF94!important;
}

.navbar-default .navbar-nav li a{
  color: black!important;
}

/*navbar logo*/
.navbar-brand img{
  max-width: 150px;
  max-height: 150px;
  pointer-events: none
}

/*Text*/
.text{
  text-align: center;
  color: white;
  text-align: center;
  display: inline-block;
  margin: 0 28%;
  padding-top: 130px;
}

.titletext{
  font-size: 30px;
  font-weight: bold;
  margin: 0;

}

.bodytext{
  font-size: 20px;
  font-weight: 300;
  margin: 0;
}

/*login en register buttons*/

.signin{
  margin: 10px 10px 10px 10px;
}

/*dropdown button*/

.dropdown .btn{
  background-color:transparent!important;
  border-color:transparent!important;

}
