@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700');

body {
  font-family: 'Lato', sans-serif;
  background-color: rgb(242, 242, 242);
}

a {
  color: #00B7FF;
}

/*video*/
video#bgvid {
    position: fixed;
    top: 30%;
    left: 30%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}
/*navbar*/
.navbar-default {
     background-color:transparent!important;
     border-color:transparent!important;
     background-image:none!important;
     box-shadow:none!important;
}

.navbar-default .navbar-nav>li>a {
   font-size:15px;
   color:#fff;
}

.navbar-default .navbar-nav span{
  color: #00FF94!important;
}

.navbar-default .navbar-nav li a{
  color: black!important;
}

/*navbar logo*/
.navbar-brand img{
  max-width: 150px;
  max-height: 150px;
  pointer-events: none
}

/*Grey bar beneath navbar*/
.square {
	width: 100%;
	height: 100px;
	background-color: #979797;
}

.square h3{
  padding-left: 20px;
  padding-top: 20px;
  font-weight: 700;
  margin: 0;
  color: white;
}

.para{
  padding-left: 20px;
  font-weight: 300;
  margin: 0;
  font-size: 20px;
  color: white;
}

.upload{
  display: grid;
}
/*Project cards*/
.thumbnail{
  border-radius: 5px 5px 4px 4px;
  border-color: transparent!important;
  background-color: white;
  margin: 50px;
  padding: 0;
  border: 0;

}
.row{
  margin:0;
}
.color-block{
  height: 50px;
  width: inherit;
  background-color:#596d82;
  border-radius: 5px 5px 0px 0px;
}

.color-block p{
  text-align: left;
  padding-top: 15px;
  padding-left: 10px;
  color: white;
  font-weight: italic;
}

.thumbnail a{
  color: black;
  text-decoration: none;
  font-weight: bold;
  color: #717b85;
}

.projectlink {
  display: block;
}

.thumbnail h3{
  color: black;
  text-decoration: none;
  font-weight: bold;
  color: #717b85;
}

/*another square*/
.another-square{
  width: 100%;
	height: 50px;
	background-color: #00FF94;
}
.search{
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}

/*Text*/
.text{
  text-align: center;
  color: white;
  text-align: center;
  display: inline-block;
  margin: 0 28%;
  padding-top: 130px;
}

.titletext{
  font-size: 30px;
  font-weight: bold;
  margin: 0;

}

.bodytext{
  font-size: 20px;
  font-weight: 300;
  margin: 0;
}

/*login en register buttons*/

.signin{
  margin: 10px 10px 10px 10px;
}

/*dropdown button*/

.dropdown .btn{
  background-color:transparent!important;
  border-color:transparent!important;
}

.dropdown .btn:focus,.btn:active {
   outline: none !important;
   border:none !important;
}
